TITLE1 {
    Color: ff0000;
    display: block;
    font-size: 20pt;
    }
HEIGHT
{
     display: block;
     color: blue;
     margin-left: auto;
}
BLODGROUP{
    display: block;
    color: aqua;
    max-width: 200%;
    margin-left: 0%;
}